#edit-form-div {
    margin: 30px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#edit-listing-title {
    text-align: center;
    margin-bottom: 20px;
}

.edit-listing-inputs {
    line-height: 2;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 12px;
}

.update-cancel-btns {
    background-color: hwb(162deg 25% 15%);
    color: #fff;
    padding: 14px;
    width: 95%;
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    border-radius: 5px;
}

.update-cancel-btns:hover {
    background-color: #fff;
    color: hwb(162deg 25% 15%);
    border: 1px solid;
}
