#edit-form-div {
    border-radius: 40px;
    padding: 40px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 400px;
    overflow-y: auto;
}

#edit-listing-title {
    text-align: center;
    margin: 0px;
}

#edit-listing-subtitle {
    text-align: center;
}

.edit-listing-labels {
    display: flex;
    color: cadetblue;
    margin: 10px 0 5px;
    width: 85%;
}

.edit-listing-inputs {
    display: flex;
    line-height: 2;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 12px;
    color: #454545;
    /* font-weight: bold; */
    width: 80%;
    border: none;
    background-color: #dddddd;
    outline-color: #4e4e4ec9;
}

#edit-listing-errors {
    list-style: none;
    padding: 0;
}

.update-cancel-btns {
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: cadetblue;
    color: white;
    padding: 13px;
    border: 1px solid cadetblue;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.update-cancel-btns:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}
