#bookings-div {
    display: flex;
    flex-direction: column;
}

#bookings-title {
    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
}

#bookings-ul-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(0, 0, 0, 0.714)
}

#bookings-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0px;
    margin-bottom: 160px;
}

#booking-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
}

div#booking-description-div {
    margin-left: 50px;
}

.booking-description {
    display: flex;
    font-size: 15px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-style: normal;
}

#booking-img {
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 20px;
    height: 300px;
    width: 600px;
    object-fit: cover;
    margin-bottom: 15px;
}

.booking-name-and-location-cntnr {
    background-color: #5f9ea042;
}

#booking-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#booking-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 15px 15px;
}

.bookings-timestamp {
    display: flex;
    font-size: 15px;
    margin-bottom: 0;
}

#bookings-to {
    display: flex;
    font-style: italic;
}

#booking-cost-cntr {
    display: flex;
    align-items: center;
}

#booking-cost {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

#delete-btn-div {
    display: flex;
}

#delete-btn {
    display: flex;
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#delete-btn:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}
