#bookings-div {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 40px;
    text-align: center;
}

#bookings-ul-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(0, 0, 0, 0.714)
}

.booking-description-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#bookings-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0px;
}

#booking-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

.booking-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 15px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-style: normal;
}

#booking-img {
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 50px;
    height: auto;
    width: 600px;
    margin: 2px;
    margin-bottom: 15px;
}

#booking-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    font-weight: bold;
}

#booking-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

#booking-country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

#booking-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

#booking-cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

#delete-btn-div {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    margin: 0px;
}

#delete-btn {
    display: flex;
    background-color: hwb(162deg 25% 15%);
    color: #fff;
    padding: 14px;
    /* width: 50%; */
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
