/* bkgrnd-img {
    background: url('https://i.pinimg.com/originals/59/26/5e/59265e0c9ef458f88b130aa5a2621527.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
} */

#bkgrnd-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#signup-form-outer-container {
    display:flex;
    justify-content: center;
}

#signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hwb(41deg 84% 9%);
    /* margin: 40px; */
    margin-top: 160px;
    margin-bottom: 160px;
    padding: 30px;
    border: 1px solid;
    border-radius: 12px;
}

#signup-title {
    text-align: center;
    /* margin-top: 160px; */
    margin-bottom: 10px;
}

#sign-up-form-div {
    display: flex;
    justify-content: center;
    /* margin-bottom: 160px; */
}

#signup-form {
    width: 400px;
}

#sign-up-ul {
    display: flex;
}

#labels-inputs-btns-div {
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    /* justify-content: center; */
}

.email-user-pw-label-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 95%
}

#signup-form-btn {
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
    width: 95%;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#signup-form-btn:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}

#bottom-form-text {
    text-align: center;
    font-size: 14px;
    color: #333333;
}

#bottom-form-link {
    color: #333333;
    font-weight: bold;
}

#bottom-form-link:hover {
    color: cadetblue;
}
