#login-signup-form-outer-container {
    display: flex;
    justify-content: center;
}

#login-signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hwb(0deg 100% 0% / 90%);
    margin-top: 160px;
    margin-bottom: 160px;
    padding: 30px;
    border-radius: 12px;
}

#login-signup-title {
    text-align: center;
    margin-bottom: 10px;
}

#login-signup-sub-title {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: grey;
    margin-top: 0px;
}

#login-signup-form-div {
    display: flex;
    justify-content: center;
}

#login-signup-inputs-div {
    display: flex;
    flex-direction: column;
}

#login-signup-form {
    width: 90%;
}

.login-signup-label-input {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: none;
    border-radius: 3px;
}

#login-signup-input {
    /* padding: 12px;
    border: none;
    border-radius: 3px; */
}

#btns-div {
    display: flex;
    justify-content:center;
    margin-top: 15px;
}

.login-signup-and-demo-btns {
    background-color: cadetblue;
    color: #fff;
    margin: 5px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.login-signup-and-demo-btns:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}

#login-signup-bottom-form-text {
    text-align: center;
    font-size: 14px;
    color: #333333;
}

#login-signup-bottom-form-link {
    color: #333333;
    font-weight: bold;
}

#login-signup-bottom-form-link:hover {
    color: cadetblue;
}
