#login-title {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 10px;
}

#sub-title {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: grey;
    margin-top: 0px;
}

#login-form-div {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

#login-form {
    width: 300px;
}

#login-ul {
    display: flex;
}

.user-email-label-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#btns-div {
    display: flex;
    justify-content:center;
}

.login-and-demo-btns {
    background-color: cadetblue;
    color: #fff;
    margin: 5px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    border: 1px solid transparent;
    border-radius: 5px;
}

.login-and-demo-btns:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}

#login-bottom-form-text {
    text-align: center;
    font-size: 14px;
    color: #333333;
}

#login-bottom-form-link {
    color: #333333;
    font-weight: bold;
}

#login-bottom-form-link:hover {
    color: cadetblue;
}
