.reviews-container {
    background-color: cadetblue;
    padding: 100px 20% 120px;
    margin-top: 150px;
}

#reviews-heading {
    font-size: 22px;
    margin:  0 0 15px;
}

.reviews-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.reviews-review-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.reviews-user-and-time {
    display: flex;
    align-items: center;
}

#reviews-timestamp {
    font-size: 13px;
}

#reviews-content {
    margin-top: 15px;
    width: 100%;
    color: #1c3030;
}

#review-delete-btn {
    display: flex;
    cursor: pointer;
    margin: 5px;
    padding: 8px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #4e4e4e;
    background-color: white;
    flex: none;
}

#review-delete-btn:hover {
    background-color: #a3a3a3;
    color: white;
    border: 1px solid white;
}
