body {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

#listing-details-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

#listing-dscrpt-btns-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#listing-dscrpt-container {
    margin-left: 300px;
}

#listing-dscrpt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}

#listing-btns-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
}

#listing-dscrpt-name {
    font-size: 22px;
    font-weight: bold;
}

#img-container-div {
    display: flex;
    justify-content: center;
}

#imgs-container {
    display: flex;
    height: 450px;
}

#other-imgs-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
    width: 520px;
}

#img1 {
    display: flex;
    flex-direction: row;
    height: 410px;
    width: 500px;
    margin: 5px;
    border-radius: 24px 0px 0px 24px;
    object-fit: cover;
    object-position: 80% 20%;
}

#img2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 250px;
    margin: 5px;
    object-fit: cover;
}

#img3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 250px;
    margin: 5px;
    object-fit: cover;
}

#img4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 250px;
    border-radius: 0px 24px 0px 0px;
    margin: 5px;
    object-fit: cover;
}

#img5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 250px;
    border-radius: 0px 0px 24px 0px;
    margin: 5px;
    object-fit: cover;
}

.listing-details-btns {
    background-color: hwb(162deg 25% 15%);
    color: #fff;
    margin: 5px;
    padding: 14px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    border: 1px solid transparent;
    border-radius: 5px;
}

.listing-details-btns:hover {
    background-color: #fff;
    color: hwb(162deg 25% 15%);
    border: 1px solid;
}
