#create-listing-outer-container {
    display: flex;
    justify-content: center;
}

#create-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5d6;
    max-width: 450px;
    margin: 40px;
    margin-top: 160px;
    margin-bottom: 160px;
    padding: 30px;
    border-radius: 12px;
}

div#create-listing-title-div {
    padding: 0 22px;
}

#create-listing-title {
    max-width: 450px;
    margin-bottom: 30px;
}

#create-listing-subtitle {
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 30px;
}

form#create-listing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#errors {
    width: 100%;
    color: #9d500f;
    list-style: none;
}

#create-listing-inputs-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.create-listing-inputs {
    line-height: 2;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 17px;
    margin: 8px 0;
    color: cadetblue;
    border: none;
}

.submit-cancel-btns {
    background-color: cadetblue;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    padding: 14px;
    width: 95%;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.submit-cancel-btns:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}

#create-listing-form-bottom-text {
    font-size: 14px;
    padding: 0 18px;
}
