#create-listing-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

#create-listing-form-div {
    display: flex;
    justify-content: center;
}

#form {
    width: 400px;
}

#errors {
    width: 100%;
    color: red;
}

#labels-inputs-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labels-inputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.submit-cancel-btns {
    background-color: hwb(162deg 25% 15%);
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    padding: 14px;
    width: 95%;
    border: 1px solid transparent;
    border-radius: 5px;
}

.submit-cancel-btns:hover {
    background-color: #fff;
    color: hwb(162deg 25% 15%);
    border: 1px solid;
}
