#create-listing-outer-container {
    display: flex;
    justify-content: center;
}

#create-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hwb(41deg 84% 9%);
    max-width: 450px;
    margin: 40px;
    margin-top: 160px;
    margin-bottom: 160px;
    padding: 30px;
    border: 1px solid;
    border-radius: 12px;
}

#create-listing-title {
    max-width: 450px;
    margin-bottom: 40px;
    padding: 0px 30px 0px 30px;
}

#create-listing-subtitle {
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 40px;
    padding: 0px 30px 0px 30px;
}

#create-listing-form-div {
    display: flex;
    justify-content: center;
}

#errors {
    width: 100%;
    color: red;
}

#create-listing-inputs-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-listing-inputs {
    line-height: 2;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 12px;
    color: cadetblue;
    /* font-weight: bold; */
}

.submit-cancel-btns {
    background-color: cadetblue;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    padding: 14px;
    width: 95%;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.submit-cancel-btns:hover {
    background-color: #fff;
    color: cadetblue;
    border: 1px solid;
}

#create-listing-form-bottom-text {
    font-size: 14px;
    padding: 0 20px 0 20px;
}
