body {
    color: rgb(40, 64, 12);
}

.h1-div {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}

#h1 {
    display: flex;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0px;
    font-weight: 700;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    margin-top: 80px;
    margin-bottom: 0px;
}

.h3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
}

#h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: 500;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    width: 490px;
    margin-top: 5px;
}

#imgs-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.boy-girl-dog-img-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 90px;
    margin-right: 90px;
    align-items: center;
}

#boy-girl-dog-img {
    display: flex;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
    object-position: 80% 2%;
    max-width: 1300px;
}

/* #smaller-imgs-div {
    display: flex;
    flex-direction: row;
} */

.cabin-img-div {
    display: flex;
    flex-wrap: wrap;
    float: left;
    max-width: 560px;
    justify-content: center;
}
.cabin-img-div2 {
    display: flex;
    flex-wrap: wrap;
    float: right;
    max-width: 560px;
    justify-content: center;
}

.cabin-img {
    height: 500px;
    width: 500px;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
    object-position: 20% 90%;
}

.solid-color-div {
    width: 500px;
    height: 100px;
    border-bottom-left-radius: 24px;
    background-color: #daa930;
    position: relative;
    bottom: 150px;
    left: 0px;
    border-bottom-right-radius: 24px;
}
.solid-color-div2 {
    width: 500px;
    height: 100px;
    border-bottom-left-radius: 24px;
    background-color: rgb(124 124 55);
    position: relative;
    bottom: 150px;
    left: 0px;
    border-bottom-right-radius: 24px;
}

#img-text-div {
    z-index: 1;
    position: relative;
    bottom: 63px;
    right: 66px;
}

#cabin-btn {
    z-index: 1;
    position: relative;
    left: 86px;
    bottom: 80px;
    height: 50px;
    width: 170px;
    color: #daa930;
    border-radius: 24px;
    border-style: none;
    font-size: 20px;
}

#cabin-btn-2 {
    z-index: 1;
    position: relative;
    left: 86px;
    bottom: 80px;
    height: 50px;
    width: 170px;
    color: rgb(124 124 55);
    border-radius: 24px;
    border-style: none;
    font-size: 20px;
}
