body {
    color: rgb(47 47 47 / 85%);
}

#h1-div {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}

#h1 {
    display: flex;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0px;
    font-weight: 700;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    margin-top: 160px;
    margin-bottom: 0px;
}

#h3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
}

#h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: 500;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    width: 490px;
    margin-top: 5px;
    margin-bottom: 80px;
}

#imgs-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#man-dog-img-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 90px;
    margin-right: 90px;
    align-items: center;
}

#cabin-img {
    display: flex;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
    height: 530px;
    width: 1130px;
    object-position: 40% 60%;
}

#smaller-imgs-div {
    margin-top: 70px;
    display: flex;
}

#cabin-img-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 580px;
    justify-content: center;
}

#cabin-img-div2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 580px;
    justify-content: center;
}

.cabin-img2 {
    height: 390px;
    width: 550px;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
}

.cabin-img3 {
    height: 390px;
    width: 550px;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
    object-position: 20% 70%;
}

#solid-color-div {
    width: 550px;
    height: 115px;
    border-top: 1px solid rgba(255, 255, 255, 0.549);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #daa930;
    position: relative;
    bottom: 150px;
    left: 0px;
}

#solid-color-div2 {
    width: 550px;
    height: 115px;
    border-top: 1px solid rgba(255, 255, 255, 0.466);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: rgb(124 124 55);
    position: relative;
    bottom: 150px;
    left: 0px;
}

.img-text-outter-div {
    z-index: 1;
    position: relative;
    bottom: 68px;
    right: 40px;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.67px;
    color: white;
}

.img-text-inner-div {
    z-index: 1;
    position: relative;
    bottom: 60px;
    right: 40px;
    font-size: 18px;
    color: white;
}

.img-text-outter-div-2 {
    z-index: 1;
    position: relative;
    bottom: 70px;
    right: -30px;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.67px;
    color: white;
}

.img-text-inner-div-2 {
    z-index: 1;
    position: relative;
    bottom: 45px;
    right: 111px;
    font-size: 18px;
    color: white;
}

#cabin-btn {
    z-index: 1;
    position: relative;
    left: 45px;
    bottom: 55px;
    height: 50px;
    width: 170px;
    color: #daa930;
    border: 1px solid transparent;
    border-radius: 24px;
    border-style: none;
    font-size: 17px;
    cursor: pointer;
}

#cabin-btn:hover {
    color: white;
    background-color: #daa930;
    border: 1px solid;
}

#cabin-btn-2 {
    z-index: 1;
    position: relative;
    left: -25px;
    bottom: 60px;
    height: 50px;
    width: 170px;
    color: rgb(124 124 55);
    border: 1px solid transparent;
    border-radius: 24px;
    font-size: 17px;
    cursor: pointer;
}

#cabin-btn-2:hover {
    color: white;
    background-color: rgb(124 124 55);
    border: 1px solid;
}
