
body {
    color: rgb(40, 64, 12);
}

.h1-div {
    display: flex;
    justify-content: center;
}

#h1 {
    display: flex;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0px;
    font-weight: 700;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    margin-top: 60px;
    margin-bottom: 0px;
}

.h3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h3 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: 500;
    text-align: center;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    width: 490px;
    margin-top: 5px;
}

.boy-girl-dog-img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

#boy-girl-dog-img {
    display: flex;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
    object-position: 50% 32%;
}

.snowy-cabin-img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    float: left;
    margin: 20px;

}

#snowy-cabin-img {

    height: 500px;
    width: 500px;
    border-radius: 24px 24px 24px 24px;
    object-fit: cover;
    object-position: 50% 32%;
}
