#create-booking-title {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}

#create-booking-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#create-booking-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#create-booking-img-div {
    display: flex;
    align-items: center;
}

#create-booking-img {
    border-radius: 30px;
    height: 500px;
    width: 713px;
    object-fit: cover;
}

#create-booking-info-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    padding: 20px;
    background: hwb(41deg 84% 9%);
    /* background: rgb(143, 203, 207); */
    border: 1px solid;
    border-radius: 8px;
}

#create-booking-name {
    font-size: 20px;
    font-weight: bold;
}

#create-booking-state-country {
    font-size: 18px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}


#submit-cancel-btn {
    background-color: cadetblue;
    color: #fff;
    padding: 12px;
    width: 95%;
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    border-radius: 5px;
}

#submit-cancel-btn:hover {
    color: cadetblue;
    background-color: #fff;
    border: 1px solid;
}

.create-booking-labels {
    /* display: flex;
    flex-direction: row; */
    font-size: 15px;
}

.create-booking-inputs {
    /* display: flex;
    flex-direction: row; */
    font-size: 13px;
    padding: 5px;
    margin-bottom: 8px;
}
