#create-booking-title {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}

#create-booking-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#create-booking-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#create-booking-img-div {
    display: flex;
    align-items: center;
}

#create-booking-img {
    border-radius: 30px;
    height: auto;
    width: 713px
}

#create-booking-info-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    padding: 20px;
    background: hwb(41deg 84% 9%);
    border: 1px solid;
    border-radius: 8px;
}

#create-booking-name {
    font-size: 20px;
    font-weight: bold;
}

#create-booking-state-country-div {
    margin-bottom: 30px;
}


#submit-cancel-btn {
    background-color: hwb(162deg 25% 15%);
    color: #fff;
    padding: 12px;
    width: 95%;
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    border-radius: 5px;
}

#submit-cancel-btn:hover {
    color: hwb(162deg 25% 15%);
    background-color: #fff;
    border: 1px solid;
}

.labels-inputs {
    display: flex;
    flex-direction: row;
}
