body {
    background-color: rgb(243, 242, 239);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

#website-by {
    margin-right: 10px;
    text-decoration: none;
    color:rgba(69, 69, 69, 0.886);
}

#networking-links {
    color:rgba(0, 0, 0, 0.886);
}

#networking-links:hover {
    color:hwb(162deg 25% 15%);
}

#top-msg-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 232, 228);
    color: rgb(40, 64, 12);
    font-size: 12px;
    font-weight: 700;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    min-height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
}

#inner-navbar-div {
    display: flex;
    justify-content: space-around;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(243, 242, 239);
    z-index: 500;
}

#left-side-nav {
    display: flex;
    text-decoration: none;
    font-size: 20px;
}

#right-side-nav {
    display: flex;
}

#right-side-nav-links {
    display: flex;
    align-items: flex-start;
}

#login-btn {
    display: block;
    margin-top: 8px;
    margin-right: 20px;
    color:rgba(69, 69, 69, 0.886);
}

#login-btn:hover {
    display: inline-block;
    border-bottom: 1px solid hwb(162deg 25% 15%);
}
#signup-btn {
    display: block;
    margin-top: 8px;
    margin-right: 20px;
    color:rgba(69, 69, 69, 0.886);
}

#signup-btn:hover {
    display: inline-block;
    border-bottom: 1px solid hwb(162deg 25% 15%);
}

#listings-btn {
    display: block;
    margin-top: 8px;
    margin-right: 20px;
    color:rgba(69, 69, 69, 0.886);
}

#listings-btn:hover {
    display: inline-block;
    border-bottom: 1px solid hwb(162deg 25% 15%);
}

#bookings-btn {
    display: block;
    margin-top: 8px;
    margin-right: 20px;
    color:rgba(69, 69, 69, 0.886);
}

#bookings-btn:hover {
    display: inline-block;
    border-bottom: 1px solid hwb(162deg 25% 15%);
}

#start-hosting-btn {
    display: flex;
    justify-content: center;
    background-color: hwb(162deg 25% 15%);
    color:rgba(255, 255, 255, 0.886);
    margin-right: 20px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 24px;
    padding: 6px 16px 8px;
}

#start-hosting-btn:hover {
    background-color:rgba(255, 255, 255, 0.886);
    color: hwb(162deg 25% 15%);
    border: 1px solid;
}

#cabindogs {
    color:rgba(69, 69, 69, 0.886);
    font-size: 25px;
    font-weight: 900;
}
#cabindogs:hover {
    --c: hwb(162deg 25% 15%);

    color: #0000;
    background:
      linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
