body {
    background-color: rgb(243, 242, 239)
}

.top-msg-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 232, 228);
    color: rgb(40, 64, 12);
    font-size: 12px;
    font-weight: 700;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    width: 100%;
    min-height: 40px;

}

.inner-navbar-div {
    display: flex;
    align-items: row;
    justify-content: space-between;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    padding: 20px;
}

#left-side-nav {
    display: flex;
    text-decoration: none;
}

#right-side-nav {
    display: flex;
}

.login-btn {
    display: flex;
    margin-right: 10px;
}
