#profile-btn {
    display: flex;
    color: rgb(114, 107, 95);
    border-radius: 100%;
    border-color: darkgray;
    padding: 4px;
}
#profile-btn:hover {
    color: hwb(162deg 25% 15%);
    border-color: hwb(162deg 25% 15%);
    padding: 4px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    list-style-type: none;
    margin-left: 0px;
}

fa-solid fa-paw {
    font-weight: bold;
}


#logout-btn {
    background-color:  hwb(162deg 25% 15%);
    color: #fff;
    border-radius: 24px;
    padding: 6px 16px 8px;
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
}

#logout-btn:hover {
    color:  hwb(162deg 25% 15%);
    background-color: #fff;
    border: 1px solid;
}
