#profile-btn {
    display: flex;
    color: rgb(114, 107, 95);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 27px;
    align-items: center;
    cursor: pointer;
}

#profile-btn:hover {
    color: cadetblue;
    border-color: cadetblue;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 15px 20px 20px;
    position: absolute;
    top: 64.5px;
    right: 0px;
    background-color: rgba(239, 239, 239, 0.89);
    border-radius: 0 0 5px 5px;
    font-size: 14px;
}

fa-solid fa-paw {
    font-weight: bold;
}


#logout-btn {
    background-color: cadetblue;
    color: #fff;
    border-radius: 24px;
    padding: 4px 14px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    cursor: pointer;
}

#logout-btn:hover {
    color:  cadetblue;
    background-color: #fff;
    border: 1px solid;
}
